<div id="about">

    <div class="left">
        <p class="bloctext">SenCouches</p>
        <p class="bloctext">Senegal</p>
        <!-- <img src="https://scontent.fdkr6-1.fna.fbcdn.net/v/t39.30808-6/271726541_684575519592623_1656366907470944024_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=8bfeb9&_nc_eui2=AeGpnynw6sxhg4us2XGTYuVl2tSf35JMgtza1J_fkkyC3OtBlet1mGmA2sC1hXWEm1w&_nc_ohc=r6BEXPchKWQAX9JkbRP&tn=OuPEMWireW-U_t5R&_nc_ht=scontent.fdkr6-1.fna&oh=00_AT_27GkYQYqlIVP_xbH2sPASqMZAJODnQ2pIVr22H2Xzng&oe=6250BD65" alt="" srcset=""> -->
    </div>
    <div class="right">
        <h1>A propos de Sencouche</h1>
        <pre><code>Le meilleur des couches au Sénégal</code></pre>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quia odit magni saepe quasi deserunt. Maxime quam voluptates facere ullam non laborum ducimus dolores eveniet doloribus nesciunt, reiciendis atque iusto.
            Non incidunt eos exercitationem eligendi, beatae nihil praesentium error, est a velit voluptatibus aliquid. Quasi omnis rerum tenetur eum soluta harum accusantium, quia ratione blanditiis provident delectus nulla asperiores veniam.
            Expedita est quam, culpa et commodi nostrum rerum error itaque numquam. Voluptatum pariatur unde porro sunt quas ex, nobis rerum, obcaecati magnam doloribus, ea laboriosam repellat adipisci. Placeat, suscipit earum.
            Officiis dolor rerum quam nam sint, Ad assumenda officia dolores fugit totam tempora dolore corrupti quae quo mollitia? Fuga debitis delectus nemo harum, asperiores nihil nesciunt omnis facere sapiente velit accusamus corporis odio, cumque minima consectetur?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quia odit magni saepe quasi deserunt. Maxime quam voluptates facere ullam non laborum ducimus dolores eveniet doloribus nesciunt, reiciendis atque iusto.
            Non incidunt eos exercitationem eligendi, beatae nihil praesentium error, est a velit voluptatibus aliquid. Quasi omnis rerum tenetur eum soluta harum accusantium, quia ratione blanditiis provident delectus nulla asperiore
        </p>
    </div>

</div>
