.full-width-table {
  width: 100%;
  background-color: rgb(214, 216, 221);
}

ng-container{
  width: 20%;
}

img {
  width: 70%;
}
.LsButtons{
  display: flex;
  justify-content: center;
}
.alignBt{
  margin: 5px;
}
