<!-- <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Large</mat-card-subtitle>
      <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
    </mat-card-title-group>
    <mat-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur doloremque deleniti vero? Voluptate, totam molestias unde numquam nisi quos ratione explicabo aliquam iure nam deleniti, illo omnis repudiandae, eligendi repellat.
    </mat-card-content>
  </mat-card> -->
  <h1 style="text-align: center;">Salut tout le monde</h1>
  <hr>
  <mat-card style="background-image: url('https://mdbootstrap.com/img/Photos/Others/gradient12.webp'); text-align: center; color: white; min-height: 30vh;">
    <mat-card-title-group>
      
        <mat-card-title><strong>Create your beautiful website with MDBootstrap</strong></mat-card-title>
        <mat-card-subtitle>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
          optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed qui, dolorum!
        </mat-card-subtitle>
    </mat-card-title-group>
    
    <mat-card-content>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum corporis obcaecati adipisci cum natus, voluptatem sint. Ea minus nam quasi molestias alias inventore, quisquam repellendus ex nemo sed in tenetur.
        Sit fugit praesentium reiciendis? Quod sit ratione mollitia harum, quam ut. Voluptate dolores maiores at repellendus rerum excepturi asperiores, qui vitae, reprehenderit error tenetur nesciunt accusantium velit praesentium quae similique.
        Unde, aliquid eveniet enim ex non nisi impedit ducimus quasi aspernatur consectetur quos vitae, temporibus quo maxime molestiae ipsam magni illo mollitia sapiente dolores voluptas obcaecati, nesciunt id ipsum. Explicabo.
        Aspernatur sed nesciunt corporis, nam ea laboriosam molestias odio suscipit maiores nisi. Molestias quis vitae, odio quos neque adipisci saepe modi quidem dolorem expedita facilis veniam commodi! Ab, voluptatibus similique.
        Soluta, mollitia aliquam! Dolorum voluptate molestiae earum tempore id nisi ipsum voluptatum dolore labore impedit sapiente nihil, saepe quae. Nulla, assumenda. Eveniet delectus quam magni? Perferendis repudiandae non quasi tempora?
        
    </mat-card-content>
    <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
  </mat-card>